In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, Normalizer

In [2]:
df = pd.read_csv('/Users/apple/Downloads/ecommerce_customers_unit1.csv')
df.head()

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned
0,10001,56.0,Male,India,27-01-2022,27-04-2024,10,13273.25,1327.32,522,0,NaN,Home,0
1,10002,69.0,Other,UK,12-01-2025,01-08-2025,10,NaN,308.90,61,0,Mobile,Grocery,0
2,10003,46.0,Female,USA,25-04-2021,01-06-2021,5,3411.83,682.37,1583,0,NaN,NaN,0
3,10004,32.0,Male,India,23-02-2021,22-09-2023,5,4502.00,900.40,740,0,NaN,NaN,0
4,10005,60.0,Female,India,07-06-2021,11-12-2021,7,3842.10,548.87,1390,0,Tablet,Books,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         605 non-null    object
 1   age                 577 non-null    float64
 2   gender              571 non-null    object
 3   country             573 non-null    object
 4   signup_date         605 non-null    object
 5   last_purchase_date  605 non-null    object
 6   num_orders          605 non-null    int64
 7   total_spent         571 non-null    float64
 8   avg_order_value     605 non-null    float64
 9   recency_days        605 non-null    int64
 10  is_premium_member   605 non-null    int64
 11  device_type         575 non-null    object
 12  preferred_category  583 non-null    object
 13  churned             605 non-null    int64
dtypes: float64(3), int64(4), object(7)
memory usage: 66.3+ KB

In [4]:
df.shape

(605, 14)

In [5]:
df.columns

Index(['customer_id', 'age', 'gender', 'country', 'signup_date',
       'last_purchase_date', 'num_orders', 'total_spent', 'avg_order_value',
       'recency_days', 'is_premium_member', 'device_type',
       'preferred_category', 'churned'],
      dtype='object')

In [6]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [7]:
df.head()

,customer_id,age,gender,country,signup_date,last_purchase_date,num_orders,total_spent,avg_order_value,recency_days,is_premium_member,device_type,preferred_category,churned
0,10001,56.0,Male,India,27-01-2022,27-04-2024,10,13273.25,1327.32,522,0,NaN,Home,0
1,10002,69.0,Other,UK,12-01-2025,01-08-2025,10,NaN,308.90,61,0,Mobile,Grocery,0
2,10003,46.0,Female,USA,25-04-2021,01-06-2021,5,3411.83,682.37,1583,0,NaN,NaN,0
3,10004,32.0,Male,India,23-02-2021,22-09-2023,5,4502.00,900.40,740,0,NaN,NaN,0
4,10005,60.0,Female,India,07-06-2021,11-12-2021,7,3842.10,548.87,1390,0,Tablet,Books,0

In [8]:
df.isna().sum()

customer_id            0
age                   28
gender                34
country               32
signup_date            0
last_purchase_date     0
num_orders             0
total_spent           33
avg_order_value        0
recency_days           0
is_premium_member      0
device_type           30
preferred_category    22
churned                0
dtype: int64