In [1]:
import pandas as pd

In [2]:
#constructing the dataframe from dictionary

d = {
    'first' : ['prashanth', 'p', 'm', 'a'],
    'last' : ['Hosamnai', 'h', 'n', 'n'],
    'ph' : [+916362000011, 0000, 1111, 0000],
    'email' : ['prashanth@gmail.com', 'p@gmail.com', 'm@gmail.com', 'a@gmail.com']
    
}

df = pd.DataFrame(d)
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3          a         n             0          a@gmail.com

In [3]:
#accessing any column
df['email']

0    prashanth@gmail.com
1            p@gmail.com
2            m@gmail.com
3            a@gmail.com
Name: email, dtype: object

In [4]:
#series : rows of only one column (data frame is a container for the object of the series)
type(df['email'])

pandas.core.series.Series

In [5]:
#access multiple columns
df[['ph', 'email']]

             ph                email
0  916362000011  prashanth@gmail.com
1             0          p@gmail.com
2          1111          m@gmail.com
3             0          a@gmail.com

In [6]:
df.columns

Index(['first', 'last', 'ph', 'email'], dtype='object')

In [7]:
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3          a         n             0          a@gmail.com

In [8]:
df['email']

0    prashanth@gmail.com
1            p@gmail.com
2            m@gmail.com
3            a@gmail.com
Name: email, dtype: object

In [9]:
df.set_index('first', inplace = True)

In [10]:
df #set the name as an index permanently using inplace = True

               last            ph                email
first
prashanth  Hosamnai  916362000011  prashanth@gmail.com
p                 h             0          p@gmail.com
m                 n          1111          m@gmail.com
a                 n             0          a@gmail.com

In [11]:
df.index

Index(['prashanth', 'p', 'm', 'a'], dtype='object', name='first')

In [12]:
df.loc['prashanth', 'email']

'prashanth@gmail.com'

In [13]:
df.iloc[0]

last                Hosamnai
ph              916362000011
email    prashanth@gmail.com
Name: prashanth, dtype: object

In [14]:
#to get back everything normal
df.reset_index(inplace= True)

In [15]:
filt = (df['last'] == 'n')

In [16]:
#df[df['last'] == 'n']

In [17]:
df[filt]

  first last    ph        email
2     m    n  1111  m@gmail.com
3     a    n     0  a@gmail.com

In [18]:
df.loc[filt]

  first last    ph        email
2     m    n  1111  m@gmail.com
3     a    n     0  a@gmail.com

In [19]:
df.loc[filt, 'email']

2    m@gmail.com
3    a@gmail.com
Name: email, dtype: object

In [20]:
#& |  for and and or

In [21]:
filt = (df['last'] == 'n') & (df['first'] == 'm')

In [22]:
df.loc[filt, 'email']

2    m@gmail.com
Name: email, dtype: object

Update rows and columns

In [23]:
df.columns

Index(['first', 'last', 'ph', 'email'], dtype='object')

In [24]:
df.columns = ['first_name', 'last_name', 'ph', 'email']

In [25]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3          a         n             0          a@gmail.com

In [26]:
df.columns = df.columns.str.replace('_', ' ')
df

  first name last name            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3          a         n             0          a@gmail.com

In [27]:
df.rename(columns={'first name' : 'first', 'last name' : 'last'}, inplace=True)

In [28]:
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3          a         n             0          a@gmail.com

In [29]:
df.loc[3] = ['john', 'smith', 00000, 'johnsmit@email.com']
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3       john     smith             0   johnsmit@email.com

In [30]:
df.loc[2, ['first', 'email']]

first              m
email    m@gmail.com
Name: 2, dtype: object

In [31]:
def update_email(email):
    return email.upper()

In [32]:
df['email'].apply(update_email)

0    PRASHANTH@GMAIL.COM
1            P@GMAIL.COM
2            M@GMAIL.COM
3     JOHNSMIT@EMAIL.COM
Name: email, dtype: object

In [33]:
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3       john     smith             0   johnsmit@email.com

In [34]:
df['email'] = df['email'].apply(update_email)
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  PRASHANTH@GMAIL.COM
1          p         h             0          P@GMAIL.COM
2          m         n          1111          M@GMAIL.COM
3       john     smith             0   JOHNSMIT@EMAIL.COM

In [35]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

       first      last            ph                email
0  prashanth  Hosamnai  916362000011  prashanth@gmail.com
1          p         h             0          p@gmail.com
2          m         n          1111          m@gmail.com
3       john     smith             0   johnsmit@email.com

In [36]:
df.apply(len) #what is the length of the columns, this is how apply work with dataframe

first    4
last     4
ph       4
email    4
dtype: int64

In [37]:
df.apply(len, axis='columns') #applying it horizontolly that is to columns

0    4
1    4
2    4
3    4
dtype: int64

In [38]:
df['first'] = df['first'].replace({'prashanth' : 'pr', 'john' : 'joy'})
df

  first      last            ph                email
0    pr  Hosamnai  916362000011  prashanth@gmail.com
1     p         h             0          p@gmail.com
2     m         n          1111          m@gmail.com
3   joy     smith             0   johnsmit@email.com

How to combine the columns

In [39]:
df['first'] + ' ' + df['last']

0    pr Hosamnai
1            p h
2            m n
3      joy smith
dtype: object

In [40]:
df['full_name'] = df['first'] + ' ' + df['last']
df

  first      last            ph                email    full_name
0    pr  Hosamnai  916362000011  prashanth@gmail.com  pr Hosamnai
1     p         h             0          p@gmail.com          p h
2     m         n          1111          m@gmail.com          m n
3   joy     smith             0   johnsmit@email.com    joy smith

In [41]:
#now delete the first and last column
df.drop(columns=['first', 'last'], inplace=True)

In [42]:
df

             ph                email    full_name
0  916362000011  prashanth@gmail.com  pr Hosamnai
1             0          p@gmail.com          p h
2          1111          m@gmail.com          m n
3             0   johnsmit@email.com    joy smith

In [43]:
df['full_name'].str.split(' ', expand=True)

     0         1
0   pr  Hosamnai
1    p         h
2    m         n
3  joy     smith

In [44]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

             ph                email    full_name first      last
0  916362000011  prashanth@gmail.com  pr Hosamnai    pr  Hosamnai
1             0          p@gmail.com          p h     p         h
2          1111          m@gmail.com          m n     m         n
3             0   johnsmit@email.com    joy smith   joy     smith

In [45]:
df.sort_values(by='first', ascending=False)

             ph                email    full_name first      last
0  916362000011  prashanth@gmail.com  pr Hosamnai    pr  Hosamnai
1             0          p@gmail.com          p h     p         h
2          1111          m@gmail.com          m n     m         n
3             0   johnsmit@email.com    joy smith   joy     smith

In [46]:
df.sort_values(by=['first', 'last'], ascending=False, inplace=True)
df

             ph                email    full_name first      last
0  916362000011  prashanth@gmail.com  pr Hosamnai    pr  Hosamnai
1             0          p@gmail.com          p h     p         h
2          1111          m@gmail.com          m n     m         n
3             0   johnsmit@email.com    joy smith   joy     smith